src/main/resources/wsdl/AnalyticsWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="AnalyticsServiceImplService" targetNamespace="http://www.polytech.unice.fr/si/4a/isa/dronedelivery/analytics" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/dronedelivery/analytics" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/dronedelivery/analytics" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.polytech.unice.fr/si/4a/isa/dronedelivery/analytics">
  <xs:element name="getOccupancyRate" type="tns:getOccupancyRate"/>
  <xs:element name="getOccupancyRateResponse" type="tns:getOccupancyRateResponse"/>
  <xs:complexType name="getOccupancyRate">
    <xs:sequence>
      <xs:element minOccurs="0" name="drone_id" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getOccupancyRateResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Exception" type="tns:Exception"/>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getOccupancyRate">
    <wsdl:part name="parameters" element="tns:getOccupancyRate">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getOccupancyRateResponse">
    <wsdl:part name="parameters" element="tns:getOccupancyRateResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Exception">
    <wsdl:part name="Exception" element="tns:Exception">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AnalyticsService">
    <wsdl:operation name="getOccupancyRate">
      <wsdl:input name="getOccupancyRate" message="tns:getOccupancyRate">
    </wsdl:input>
      <wsdl:output name="getOccupancyRateResponse" message="tns:getOccupancyRateResponse">
    </wsdl:output>
      <wsdl:fault name="Exception" message="tns:Exception">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AnalyticsServiceImplServiceSoapBinding" type="tns:AnalyticsService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getOccupancyRate">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getOccupancyRate">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getOccupancyRateResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AnalyticsServiceImplService">
    <wsdl:port name="AnalyticsServiceImplPort" binding="tns:AnalyticsServiceImplServiceSoapBinding">
      <soap:address location="http://localhost:9090/AnalyticsServiceImplPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
