src/main/resources/wsdl/DeliveryScheduleWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="DeliveryScheduleServiceImplService" targetNamespace="http://www.polytech.unice.fr/si/4a/isa/dronedelivery/delivery-schedule" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/dronedelivery/delivery-schedule" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/dronedelivery/delivery-schedule" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.polytech.unice.fr/si/4a/isa/dronedelivery/delivery-schedule">
  <xs:element name="scheduleDelivery" type="tns:scheduleDelivery"/>
  <xs:element name="scheduleDeliveryResponse" type="tns:scheduleDeliveryResponse"/>
  <xs:complexType name="scheduleDelivery">
    <xs:sequence>
      <xs:element minOccurs="0" name="date" type="xs:string"/>
      <xs:element minOccurs="0" name="delivery_id" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="scheduleDeliveryResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:element name="Exception" type="tns:Exception"/>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="Exception">
    <wsdl:part name="Exception" element="tns:Exception">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="scheduleDelivery">
    <wsdl:part name="parameters" element="tns:scheduleDelivery">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="scheduleDeliveryResponse">
    <wsdl:part name="parameters" element="tns:scheduleDeliveryResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="DeliveryScheduleService">
    <wsdl:operation name="scheduleDelivery">
      <wsdl:input name="scheduleDelivery" message="tns:scheduleDelivery">
    </wsdl:input>
      <wsdl:output name="scheduleDeliveryResponse" message="tns:scheduleDeliveryResponse">
    </wsdl:output>
      <wsdl:fault name="Exception" message="tns:Exception">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DeliveryScheduleServiceImplServiceSoapBinding" type="tns:DeliveryScheduleService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="scheduleDelivery">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="scheduleDelivery">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="scheduleDeliveryResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DeliveryScheduleServiceImplService">
    <wsdl:port name="DeliveryScheduleServiceImplPort" binding="tns:DeliveryScheduleServiceImplServiceSoapBinding">
      <soap:address location="http://localhost:9090/DeliveryScheduleServiceImplPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
