src/main/resources/wsdl/DeliveryWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="DeliveryServiceImplService" targetNamespace="http://www.polytech.unice.fr/si/4a/isa/dronedelivery/delivery" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/dronedelivery/delivery" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/dronedelivery/delivery" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.polytech.unice.fr/si/4a/isa/dronedelivery/delivery">
  <xs:element name="getNextDelivery" type="tns:getNextDelivery"/>
  <xs:element name="getNextDeliveryResponse" type="tns:getNextDeliveryResponse"/>
  <xs:element name="startDelivery" type="tns:startDelivery"/>
  <xs:element name="startDeliveryResponse" type="tns:startDeliveryResponse"/>
  <xs:complexType name="getNextDelivery">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getNextDeliveryResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:delivery"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="delivery">
    <xs:sequence>
      <xs:element minOccurs="0" name="deliveryId" type="xs:string"/>
      <xs:element minOccurs="0" name="drone" type="tns:drone"/>
      <xs:element minOccurs="0" name="parcel" type="tns:parcel"/>
      <xs:element minOccurs="0" name="status" type="tns:deliveryStatus"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="drone">
    <xs:sequence>
      <xs:element minOccurs="0" name="currentDelivery" type="tns:delivery"/>
      <xs:element minOccurs="0" name="droneId" type="xs:string"/>
      <xs:element minOccurs="0" name="droneStatus" type="tns:droneStatus"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="timeSlots" nillable="true" type="tns:timeSlot"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="timeSlot">
    <xs:sequence>
      <xs:element minOccurs="0" name="date" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="delivery" type="tns:delivery"/>
      <xs:element minOccurs="0" name="drone" type="tns:drone"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="state" type="tns:timeState"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="parcel">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" type="xs:string"/>
      <xs:element minOccurs="0" name="carrier" type="xs:string"/>
      <xs:element minOccurs="0" name="customerName" type="xs:string"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="parcelId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="startDelivery">
    <xs:sequence>
      <xs:element minOccurs="0" name="delivery_id" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="startDeliveryResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:simpleType name="droneStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ON_CHARGE"/>
      <xs:enumeration value="ON_REPAIR"/>
      <xs:enumeration value="ON_DELIVERY"/>
      <xs:enumeration value="AVAILABLE"/>
      <xs:enumeration value="BACK_FROM_DELIVERY"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="timeState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DELIVERY"/>
      <xs:enumeration value="CHARGING"/>
      <xs:enumeration value="REVIEW"/>
      <xs:enumeration value="UNAVAILABLE"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="deliveryStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FAILED"/>
      <xs:enumeration value="NOT_DELIVERED"/>
      <xs:enumeration value="ONGOING"/>
      <xs:enumeration value="DELIVERED"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Exception" type="tns:Exception"/>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getNextDeliveryResponse">
    <wsdl:part name="parameters" element="tns:getNextDeliveryResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getNextDelivery">
    <wsdl:part name="parameters" element="tns:getNextDelivery">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="startDelivery">
    <wsdl:part name="parameters" element="tns:startDelivery">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Exception">
    <wsdl:part name="Exception" element="tns:Exception">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="startDeliveryResponse">
    <wsdl:part name="parameters" element="tns:startDeliveryResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="DeliveryService">
    <wsdl:operation name="getNextDelivery">
      <wsdl:input name="getNextDelivery" message="tns:getNextDelivery">
    </wsdl:input>
      <wsdl:output name="getNextDeliveryResponse" message="tns:getNextDeliveryResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="startDelivery">
      <wsdl:input name="startDelivery" message="tns:startDelivery">
    </wsdl:input>
      <wsdl:output name="startDeliveryResponse" message="tns:startDeliveryResponse">
    </wsdl:output>
      <wsdl:fault name="Exception" message="tns:Exception">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DeliveryServiceImplServiceSoapBinding" type="tns:DeliveryService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getNextDelivery">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getNextDelivery">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getNextDeliveryResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="startDelivery">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="startDelivery">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="startDeliveryResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DeliveryServiceImplService">
    <wsdl:port name="DeliveryServiceImplPort" binding="tns:DeliveryServiceImplServiceSoapBinding">
      <soap:address location="http://localhost:9090/DeliveryServiceImplPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
