src/main/resources/wsdl/DeliveryScheduleWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="DeliveryScheduleServiceImplService" targetNamespace="http://www.polytech.unice.fr/si/4a/isa/dronedelivery/delivery-schedule" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/dronedelivery/delivery-schedule" xmlns:ns1="http://www.polytech.unice.fr/si/4a/isa/dronedelivery/delivery" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/dronedelivery/delivery-schedule" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.polytech.unice.fr/si/4a/isa/dronedelivery/delivery-schedule">
  <xs:element name="getCurrentPlanning" type="tns:getCurrentPlanning"/>
  <xs:element name="getCurrentPlanningResponse" type="tns:getCurrentPlanningResponse"/>
  <xs:element name="scheduleDelivery" type="tns:scheduleDelivery"/>
  <xs:element name="scheduleDeliveryResponse" type="tns:scheduleDeliveryResponse"/>
  <xs:complexType name="getCurrentPlanning">
    <xs:sequence>
      <xs:element minOccurs="0" name="droneid" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCurrentPlanningResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:timeState"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="scheduleDelivery">
    <xs:sequence>
      <xs:element minOccurs="0" name="date" type="xs:string"/>
      <xs:element minOccurs="0" name="delivery_id" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="scheduleDeliveryResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:simpleType name="timeState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DELIVERY"/>
      <xs:enumeration value="CHARGING"/>
      <xs:enumeration value="REVIEW"/>
      <xs:enumeration value="RESERVED_FOR_CHARGE"/>
      <xs:enumeration value="AVAILABLE"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DroneNotFoundException" type="tns:DroneNotFoundException"/>
  <xs:complexType name="DroneNotFoundException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ZeroDronesInWarehouseException" type="tns:ZeroDronesInWarehouseException"/>
  <xs:complexType name="ZeroDronesInWarehouseException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NoFreeDroneAtThisTimeSlotException" type="tns:NoFreeDroneAtThisTimeSlotException"/>
  <xs:complexType name="NoFreeDroneAtThisTimeSlotException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OutOfWorkingHourTimeSlotException" type="tns:OutOfWorkingHourTimeSlotException"/>
  <xs:complexType name="OutOfWorkingHourTimeSlotException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
<xsd:schema xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/dronedelivery/delivery" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.polytech.unice.fr/si/4a/isa/dronedelivery/delivery">
  <xsd:element name="UnknownDeliveryException" type="tns:UnknownDeliveryException"/>
  <xsd:complexType name="UnknownDeliveryException">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="parcelNumber" type="xsd:string"/>
      <xsd:element minOccurs="0" name="message" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="getCurrentPlanning">
    <wsdl:part name="parameters" element="tns:getCurrentPlanning">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ZeroDronesInWarehouseException">
    <wsdl:part name="ZeroDronesInWarehouseException" element="tns:ZeroDronesInWarehouseException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="scheduleDelivery">
    <wsdl:part name="parameters" element="tns:scheduleDelivery">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DroneNotFoundException">
    <wsdl:part name="DroneNotFoundException" element="tns:DroneNotFoundException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="NoFreeDroneAtThisTimeSlotException">
    <wsdl:part name="NoFreeDroneAtThisTimeSlotException" element="tns:NoFreeDroneAtThisTimeSlotException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UnknownDeliveryException">
    <wsdl:part name="UnknownDeliveryException" element="ns1:UnknownDeliveryException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="OutOfWorkingHourTimeSlotException">
    <wsdl:part name="OutOfWorkingHourTimeSlotException" element="tns:OutOfWorkingHourTimeSlotException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCurrentPlanningResponse">
    <wsdl:part name="parameters" element="tns:getCurrentPlanningResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="scheduleDeliveryResponse">
    <wsdl:part name="parameters" element="tns:scheduleDeliveryResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="DeliveryScheduleService">
    <wsdl:operation name="getCurrentPlanning">
      <wsdl:input name="getCurrentPlanning" message="tns:getCurrentPlanning">
    </wsdl:input>
      <wsdl:output name="getCurrentPlanningResponse" message="tns:getCurrentPlanningResponse">
    </wsdl:output>
      <wsdl:fault name="DroneNotFoundException" message="tns:DroneNotFoundException">
    </wsdl:fault>
      <wsdl:fault name="ZeroDronesInWarehouseException" message="tns:ZeroDronesInWarehouseException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="scheduleDelivery">
      <wsdl:input name="scheduleDelivery" message="tns:scheduleDelivery">
    </wsdl:input>
      <wsdl:output name="scheduleDeliveryResponse" message="tns:scheduleDeliveryResponse">
    </wsdl:output>
      <wsdl:fault name="NoFreeDroneAtThisTimeSlotException" message="tns:NoFreeDroneAtThisTimeSlotException">
    </wsdl:fault>
      <wsdl:fault name="UnknownDeliveryException" message="tns:UnknownDeliveryException">
    </wsdl:fault>
      <wsdl:fault name="OutOfWorkingHourTimeSlotException" message="tns:OutOfWorkingHourTimeSlotException">
    </wsdl:fault>
      <wsdl:fault name="DroneNotFoundException" message="tns:DroneNotFoundException">
    </wsdl:fault>
      <wsdl:fault name="ZeroDronesInWarehouseException" message="tns:ZeroDronesInWarehouseException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DeliveryScheduleServiceImplServiceSoapBinding" type="tns:DeliveryScheduleService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getCurrentPlanning">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getCurrentPlanning">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCurrentPlanningResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DroneNotFoundException">
        <soap:fault name="DroneNotFoundException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ZeroDronesInWarehouseException">
        <soap:fault name="ZeroDronesInWarehouseException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="scheduleDelivery">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="scheduleDelivery">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="scheduleDeliveryResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NoFreeDroneAtThisTimeSlotException">
        <soap:fault name="NoFreeDroneAtThisTimeSlotException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="UnknownDeliveryException">
        <soap:fault name="UnknownDeliveryException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="OutOfWorkingHourTimeSlotException">
        <soap:fault name="OutOfWorkingHourTimeSlotException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DroneNotFoundException">
        <soap:fault name="DroneNotFoundException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ZeroDronesInWarehouseException">
        <soap:fault name="ZeroDronesInWarehouseException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DeliveryScheduleServiceImplService">
    <wsdl:port name="DeliveryScheduleServiceImplPort" binding="tns:DeliveryScheduleServiceImplServiceSoapBinding">
      <soap:address location="http://localhost:9090/DeliveryScheduleServiceImplPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
