src/main/resources/wsdl/DroneMaintenanceWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/dronedelivery/drone-maintenance" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns2="http://schemas.xmlsoap.org/soap/http" xmlns:ns1="http://www.polytech.unice.fr/si/4a/isa/dronedelivery/drone" name="DroneMaintenanceServiceImplService" targetNamespace="http://www.polytech.unice.fr/si/4a/isa/dronedelivery/drone-maintenance">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/dronedelivery/drone-maintenance" elementFormDefault="unqualified" targetNamespace="http://www.polytech.unice.fr/si/4a/isa/dronedelivery/drone-maintenance" version="1.0">

  <xs:element name="addDrone" type="tns:addDrone"/>

  <xs:element name="addDroneResponse" type="tns:addDroneResponse"/>

  <xs:element name="chargeDrone" type="tns:chargeDrone"/>

  <xs:element name="chargeDroneResponse" type="tns:chargeDroneResponse"/>

  <xs:element name="getDrones" type="tns:getDrones"/>

  <xs:element name="getDronesResponse" type="tns:getDronesResponse"/>

  <xs:element name="reviewDrone" type="tns:reviewDrone"/>

  <xs:element name="reviewDroneResponse" type="tns:reviewDroneResponse"/>

  <xs:element name="setAvailableDrone" type="tns:setAvailableDrone"/>

  <xs:element name="setAvailableDroneResponse" type="tns:setAvailableDroneResponse"/>

  <xs:complexType name="reviewDrone">
    <xs:sequence>
      <xs:element minOccurs="0" name="drone_id" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="reviewDroneResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="setAvailableDrone">
    <xs:sequence>
      <xs:element minOccurs="0" name="drone_id" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="setAvailableDroneResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="addDrone">
    <xs:sequence>
      <xs:element minOccurs="0" name="drone_id" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addDroneResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="chargeDrone">
    <xs:sequence>
      <xs:element minOccurs="0" name="drone_id" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="chargeDroneResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getDrones">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getDronesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:drone"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="drone">
    <xs:sequence>
      <xs:element minOccurs="0" name="currentDelivery" type="tns:delivery"/>
      <xs:element minOccurs="0" name="droneId" type="xs:string"/>
      <xs:element minOccurs="0" name="droneStatus" type="tns:droneStatus"/>
      <xs:element name="flightTime" type="xs:int"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="timeSlots" nillable="true" type="tns:timeSlot"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="delivery">
    <xs:sequence>
      <xs:element minOccurs="0" name="deliveryId" type="xs:string"/>
      <xs:element minOccurs="0" name="drone" type="tns:drone"/>
      <xs:element minOccurs="0" name="invoice" type="tns:invoice"/>
      <xs:element minOccurs="0" name="parcel" type="tns:parcel"/>
      <xs:element minOccurs="0" name="status" type="tns:deliveryStatus"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="invoice">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="deliveries" nillable="true" type="tns:delivery"/>
      <xs:element minOccurs="0" name="invoiceId" type="xs:string"/>
      <xs:element name="price" type="xs:float"/>
      <xs:element minOccurs="0" name="status" type="tns:invoiceStatus"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="parcel">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" type="xs:string"/>
      <xs:element minOccurs="0" name="carrier" type="xs:string"/>
      <xs:element minOccurs="0" name="customerName" type="xs:string"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="parcelId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="timeSlot">
    <xs:sequence>
      <xs:element minOccurs="0" name="date" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="delivery" type="tns:delivery"/>
      <xs:element minOccurs="0" name="drone" type="tns:drone"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="state" type="tns:timeState"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="droneInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="date" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="drone" type="tns:drone"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="occupationRate" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="invoiceStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NOT_PAID"/>
      <xs:enumeration value="PAID"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="deliveryStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FAILED"/>
      <xs:enumeration value="NOT_DELIVERED"/>
      <xs:enumeration value="ONGOING"/>
      <xs:enumeration value="DELIVERED"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="droneStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ON_CHARGE"/>
      <xs:enumeration value="ON_REPAIR"/>
      <xs:enumeration value="ON_DELIVERY"/>
      <xs:enumeration value="AVAILABLE"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="timeState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DELIVERY"/>
      <xs:enumeration value="CHARGING"/>
      <xs:enumeration value="REVIEW"/>
      <xs:enumeration value="RESERVED_FOR_CHARGE"/>
      <xs:enumeration value="AVAILABLE"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/dronedelivery/drone" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.polytech.unice.fr/si/4a/isa/dronedelivery/drone">
  <xsd:element name="DroneNotFoundException" type="tns:DroneNotFoundException"/>
  <xsd:complexType name="DroneNotFoundException">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="message" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="InvalidDroneIDException" type="tns:InvalidDroneIDException"/>
  <xsd:complexType name="InvalidDroneIDException">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="message" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="reviewDrone">
    <wsdl:part element="tns:reviewDrone" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="chargeDroneResponse">
    <wsdl:part element="tns:chargeDroneResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DroneNotFoundException">
    <wsdl:part element="ns1:DroneNotFoundException" name="DroneNotFoundException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setAvailableDroneResponse">
    <wsdl:part element="tns:setAvailableDroneResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setAvailableDrone">
    <wsdl:part element="tns:setAvailableDrone" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDronesResponse">
    <wsdl:part element="tns:getDronesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDrones">
    <wsdl:part element="tns:getDrones" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addDroneResponse">
    <wsdl:part element="tns:addDroneResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="reviewDroneResponse">
    <wsdl:part element="tns:reviewDroneResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addDrone">
    <wsdl:part element="tns:addDrone" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="chargeDrone">
    <wsdl:part element="tns:chargeDrone" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="InvalidDroneIDException">
    <wsdl:part element="ns1:InvalidDroneIDException" name="InvalidDroneIDException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="DroneMaintenanceService">
    <wsdl:operation name="reviewDrone">
      <wsdl:input message="tns:reviewDrone" name="reviewDrone">
    </wsdl:input>
      <wsdl:output message="tns:reviewDroneResponse" name="reviewDroneResponse">
    </wsdl:output>
      <wsdl:fault message="tns:DroneNotFoundException" name="DroneNotFoundException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setAvailableDrone">
      <wsdl:input message="tns:setAvailableDrone" name="setAvailableDrone">
    </wsdl:input>
      <wsdl:output message="tns:setAvailableDroneResponse" name="setAvailableDroneResponse">
    </wsdl:output>
      <wsdl:fault message="tns:DroneNotFoundException" name="DroneNotFoundException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addDrone">
      <wsdl:input message="tns:addDrone" name="addDrone">
    </wsdl:input>
      <wsdl:output message="tns:addDroneResponse" name="addDroneResponse">
    </wsdl:output>
      <wsdl:fault message="tns:InvalidDroneIDException" name="InvalidDroneIDException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="chargeDrone">
      <wsdl:input message="tns:chargeDrone" name="chargeDrone">
    </wsdl:input>
      <wsdl:output message="tns:chargeDroneResponse" name="chargeDroneResponse">
    </wsdl:output>
      <wsdl:fault message="tns:DroneNotFoundException" name="DroneNotFoundException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getDrones">
      <wsdl:input message="tns:getDrones" name="getDrones">
    </wsdl:input>
      <wsdl:output message="tns:getDronesResponse" name="getDronesResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DroneMaintenanceServiceImplServiceSoapBinding" type="tns:DroneMaintenanceService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="reviewDrone">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="reviewDrone">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="reviewDroneResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DroneNotFoundException">
        <soap:fault name="DroneNotFoundException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setAvailableDrone">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="setAvailableDrone">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="setAvailableDroneResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DroneNotFoundException">
        <soap:fault name="DroneNotFoundException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addDrone">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addDrone">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addDroneResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidDroneIDException">
        <soap:fault name="InvalidDroneIDException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="chargeDrone">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="chargeDrone">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="chargeDroneResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DroneNotFoundException">
        <soap:fault name="DroneNotFoundException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getDrones">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getDrones">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getDronesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DroneMaintenanceServiceImplService">
    <wsdl:port binding="tns:DroneMaintenanceServiceImplServiceSoapBinding" name="DroneMaintenanceServiceImplPort">
      <soap:address location="http://localhost:8080/drone-delivery-backend/webservices/DroneMaintenanceWS"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>