src/main/resources/wsdl/DroneMaintenanceWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="DroneMaintenanceServiceImplService" targetNamespace="http://www.polytech.unice.fr/si/4a/isa/dronedelivery/drone-maintenance" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/dronedelivery/drone-maintenance" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/dronedelivery/drone-maintenance" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.polytech.unice.fr/si/4a/isa/dronedelivery/drone-maintenance">
  <xs:element name="chargeDrone" type="tns:chargeDrone"/>
  <xs:element name="chargeDroneResponse" type="tns:chargeDroneResponse"/>
  <xs:complexType name="chargeDrone">
    <xs:sequence>
      <xs:element minOccurs="0" name="drone_id" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="chargeDroneResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:element name="Exception" type="tns:Exception"/>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="chargeDroneResponse">
    <wsdl:part name="parameters" element="tns:chargeDroneResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="chargeDrone">
    <wsdl:part name="parameters" element="tns:chargeDrone">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Exception">
    <wsdl:part name="Exception" element="tns:Exception">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="DroneMaintenanceService">
    <wsdl:operation name="chargeDrone">
      <wsdl:input name="chargeDrone" message="tns:chargeDrone">
    </wsdl:input>
      <wsdl:output name="chargeDroneResponse" message="tns:chargeDroneResponse">
    </wsdl:output>
      <wsdl:fault name="Exception" message="tns:Exception">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DroneMaintenanceServiceImplServiceSoapBinding" type="tns:DroneMaintenanceService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="chargeDrone">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="chargeDrone">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="chargeDroneResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DroneMaintenanceServiceImplService">
    <wsdl:port name="DroneMaintenanceServiceImplPort" binding="tns:DroneMaintenanceServiceImplServiceSoapBinding">
      <soap:address location="http://localhost:9090/DroneMaintenanceServiceImplPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
