src/main/resources/wsdl/InvoiceWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="InvoiceServiceImplService" targetNamespace="http://www.polytech.unice.fr/si/4a/isa/dronedelivery/invoice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/dronedelivery/invoice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/dronedelivery/invoice" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://www.polytech.unice.fr/si/4a/isa/dronedelivery/invoice" version="1.0">

  <xs:element name="getInvoices" type="tns:getInvoices"/>

  <xs:element name="getInvoicesResponse" type="tns:getInvoicesResponse"/>

  <xs:complexType name="getInvoices">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getInvoicesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:invoice"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="invoice">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="deliveries" nillable="true" type="tns:delivery"/>
      <xs:element minOccurs="0" name="invoiceId" type="xs:string"/>
      <xs:element minOccurs="0" name="status" type="tns:invoiceStatus"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="delivery">
    <xs:sequence>
      <xs:element minOccurs="0" name="deliveryId" type="xs:string"/>
      <xs:element minOccurs="0" name="drone" type="tns:drone"/>
      <xs:element minOccurs="0" name="parcel" type="tns:parcel"/>
      <xs:element minOccurs="0" name="status" type="tns:deliveryStatus"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="drone">
    <xs:sequence>
      <xs:element minOccurs="0" name="currentDelivery" type="tns:delivery"/>
      <xs:element minOccurs="0" name="droneId" type="xs:string"/>
      <xs:element minOccurs="0" name="droneStatus" type="tns:droneStatus"/>
      <xs:element name="flightTime" type="xs:int"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="timeSlots" nillable="true" type="tns:timeSlot"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="timeSlot">
    <xs:sequence>
      <xs:element minOccurs="0" name="date" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="delivery" type="tns:delivery"/>
      <xs:element minOccurs="0" name="drone" type="tns:drone"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="state" type="tns:timeState"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="parcel">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" type="xs:string"/>
      <xs:element minOccurs="0" name="carrier" type="xs:string"/>
      <xs:element minOccurs="0" name="customerName" type="xs:string"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="parcelId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="droneStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ON_CHARGE"/>
      <xs:enumeration value="ON_REPAIR"/>
      <xs:enumeration value="ON_DELIVERY"/>
      <xs:enumeration value="AVAILABLE"/>
      <xs:enumeration value="BACK_FROM_DELIVERY"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="timeState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DELIVERY"/>
      <xs:enumeration value="CHARGING"/>
      <xs:enumeration value="REVIEW"/>
      <xs:enumeration value="UNAVAILABLE"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="deliveryStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FAILED"/>
      <xs:enumeration value="NOT_DELIVERED"/>
      <xs:enumeration value="ONGOING"/>
      <xs:enumeration value="DELIVERED"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="invoiceStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NOT_PAID"/>
      <xs:enumeration value="PAID"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="getInvoicesResponse">
    <wsdl:part name="parameters" element="tns:getInvoicesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getInvoices">
    <wsdl:part name="parameters" element="tns:getInvoices">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="InvoiceService">
    <wsdl:operation name="getInvoices">
      <wsdl:input name="getInvoices" message="tns:getInvoices">
    </wsdl:input>
      <wsdl:output name="getInvoicesResponse" message="tns:getInvoicesResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InvoiceServiceImplServiceSoapBinding" type="tns:InvoiceService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getInvoices">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getInvoices">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getInvoicesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InvoiceServiceImplService">
    <wsdl:port name="InvoiceServiceImplPort" binding="tns:InvoiceServiceImplServiceSoapBinding">
      <soap:address location="http://localhost:9090/InvoiceServiceImplPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
